body {
	color: #585858;
	background-color: #eeeeee;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1.2em;
}

article {
	margin: 0 2%;
}

h1 {
	font-size: 4em;
	color: #585858;
	margin: 100px 0;
	border-bottom: solid 1px #919191;
}

h2 {
	font-style: 2.5em;
	color: #585858;
}


article {
	margin-bottom: 100px;
}
	.std-frame {
		margin-left: 0;
	}

	.std-text {
	}