.slick-list,
.slick-track {
    height: 100%;
}

.slick-dots {
    bottom: 25px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-next {
    right: 25px;
    z-index: 100;
    transform: rotate(225deg);
}

.slick-prev {
    left: 25px;
    z-index: 100;
    transform: rotate(45deg);
}

.slick-prev, .slick-next {
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}

.slick-prev:before, .slick-next:before {
    /*font-size: 30px;*/
    content: ""
}

.slick-dots li button:before {
    color: white;
    font-size: 12px;
}
.slick-dots li.slick-active button:before {
    color: white;
}