html {
    height: 100%;
}

body {
    height:100%;
    min-height: 100%;
    position:relative;
}

*, body {
    font-family: 'Open Sans';
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}

.header nav {
    display: flex;
    justify-content: space-around;
}

.header nav .nav-item {
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.header nav .nav-item.active a{
    color: black;
}

.header nav .nav-item a:hover{
    color: black;
}

.header nav .nav-item:last-child {
    margin-right: 0;
}

.header nav .nav-item a {
    font-family: lato;
    color: #818181;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 25px 70px;
    font-size: .9em;
}

.logo {
    grid-column-start: 2;
    text-align: center;
}

.name {
    font-size: 1.6em;
    font-family: lato;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.profession {
    font-weight: 400;
    font-size: 1.1em;
}

.slider {
    width: 100%;
    margin: 0 ;
}

.slider img {
    width: 100%;
    object-fit: cover;
    object-position: 100% 90%;
}

.burger-menu {
    margin-left: auto;
    /*display: inline-block;*/
    margin-right: 50px;
    display: none;
}

.menu-icon {
    cursor: pointer;
}

.menu-label {
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
    padding-right: 5px;
    display: flex;
    line-height: 3rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.menu-label i {
    margin-left: 6px;
}

.gg-menu-left-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 14px;
    transform: scale(var(--ggs,1))
}

.gg-menu-left-alt::after,
.gg-menu-left-alt::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}

.gg-menu-left-alt::before {
    width: 16px;
    box-shadow: 0 12px 0
}

.gg-menu-left-alt::after {
    width: 10px;
    top: 6px
}

@media (max-width: 1000px) {
    .header {
        display: grid;
        grid-template-columns: 1fr repeat(1, auto) 1fr;
        grid-column-gap: 5px;
        justify-items: center;
        padding: 20px 0 20px 0;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .header nav {
        display: none;
    }
    .header .burger-menu {
        display: inline-block;
    }
}

@media (max-width: 690px) {
    .header {
        grid-template-columns: auto 1fr;
    }

    .logo {
        grid-column-start: 1;
        text-align: left;
        padding-left: 20px;
    }

    .burger-menu {
        grid-column-start: 3;
        margin-right: 0;
        padding-right: 20px;
    }

    .name {
        font-size: 1.2em;
        padding-bottom: 5px;
    }

    .profession {
        font-weight: 400;
        font-size: 1em;
    }

    .footer {
        padding: 20px;
    }
}
