html,
body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	min-height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1em;
	font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: rgb(250, 250, 250); */
	background: #fff;
	color: #222;
}
body::after{
	position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
	content:url("./images/img1.png") url("./images/img2.png") url("./images/img3.png");
 }

 .uk-panel img {
	 margin: 0;
	 padding: 0;
 }

 .uk-panel a {
	 display: inline-block;
	 padding: 10px;
	 background-color: #fff;
	 height: auto;
	 overflow: auto;
	 box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
 }
