html,
body {
	margin:0;
	padding:0;
	height:auto;
}

body {
	min-height: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1.1em;
	font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(250, 250, 250);
	color: #222;
}

nav.nav-scroll {
	position: relative;
	z-index: 2;
	box-sizing: border-box;
	overflow-y: hidden;
	padding: 1rem;
	border-top: 1px solid rgba(0,0,0,0.075);
	line-height: 30px;
	height: 60px;
}

nav.nav-scroll > div > ul {
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 1rem;
}

nav .uk-navbar-nav a {
    font-weight: 500;
    font-size: .9rem;
    text-transform: none;
}

.uk-navbar-nav>li>a {
    color: #555;
}

nav .uk-navbar-nav li.uk-active a {
	text-decoration: underline;
}

.news-slide > li > .uk-card {
	box-shadow: none;
	border:  1px solid rgba(0,0,0,0.075);
}

.uk-logo > img {
	height: 60px;
}

#navbar {
	min-height: 80px;
}

#header {
	padding-top: 30px;
	background-color: transparent;
	-webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
}

#header.uk-sticky-below {
	box-shadow: 0 2px 14px 0 rgba(0,0,0,0.07);
	background-color: #fff;
}

#logo {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 1.1em;
    font-weight: 400;
	color: #222;
	margin-top: 20px;
}
#slogan {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

#top, #bottom, #left, #right {
	background: rgb(255, 255, 255);
	position: fixed;
	z-index: 999;
}
#left, #right {
	top: 0; bottom: 0;
	width: 20px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
    height: 20px;
    width: 100%;
}
#top { top: 0; }
#bottom { bottom: 0; }

footer {
	box-sizing: border-box;
	margin: 50px auto 0;
    position: relative;
    padding: 1em 3em;
    font-size: .9rem;
	padding-bottom: 50px !important;
    /* background: #f7f7f7; */
}

.footer-content {
    /* max-width: 1200px; */
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
}

footer .uk-subnav > * >:first-child {
    font-size: 12px;
    font-weight: 400;
}
footer .uk-subnav a {
	color: #333 !important;
	text-transform: none !important;
}
.uk-subnav-divider>:nth-child(n+2):not(.uk-first-column)::before {
	border-left-color: #d6d6d6;
}