body {
	color: #585858;
	background-color: #eeeeee;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 1em;
}

p {
	line-height: 150%;
}

article {
	margin: 0 2%;
}

img {
	border: solid 1px #fff;
	max-width: 900px;
}

a {
	color: #0d0d0d;
}

a:hover {
	color: #747474;
}

h1 {
	font-size: 3em;
	font-weight: 300;
	margin: 100px 0 50px;
	padding-bottom: 20px;
	color: #585858;
	border-bottom: solid 1px #cbcbcb;
	color: #0d0d0d;
}

h2 {
	font-weight: 300;
	font-size: 2em;
	margin: 1.8em 0 .5em;
	color: #0d0d0d;
}


article {
	margin-bottom: 100px;
}
	.wrapper {
		max-width: 900px;
	}
	.std-frame {
		margin-left: 0;
	}

	.std-text {
	}

	.marked {
		background-color: #dfdfdf;
		color: #333333;
		padding: 0 5px;
		font-family: 'Courier New';
		font-weight: normal;
	}


section {
	margin: 50px 0;
}